* {
    margin: 2px;
    padding: 2px;
}

header {
    border: 1px solid green;
}

h2 {
    color: red;
}

#header-title{
    font-size: 64px;
    color: palegoldenrod;
}
header ul {
    background-color: aqua;
}


a {
    text-decoration: none;
    color: black;
}

.link {
    font-size: 24px;
    color: bisque;
}

.link > a {
    font-size: 64px;
    color: #333;
}

.article-title {
    font-size: 20px;
    font-weight: 900;
}

[type="text"] {
    border: 1px dotted blueviolet;
}

[href*="naver"] {
    color: red;
}

[name="useremail"] {
    background-color: blueviolet;
}

#container {
    background-color: aliceblue;
}
#container .container-btn {
    font-size: 20px;
}

#container .container-btn:hover {
    cursor: pointer;
    background-color: aqua;
    font-size: 20px;
}

#container .container-item {
    font-size: 20px;
}
#container .container-item:first-child{
    font-size: 20px;
}
#container .container-item:last-child{
    font-size: 60px;
}
#container .container-item::before{
    content: "*";
}

#container .container-item::after{
    content: "!!!";
}